<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            // if ($(document).width() <= 1240) { // remove width check to fix for desktop too
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            // }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <!-- commented out for course site purposes so homepage wasnt duplicated -->
                <!-- <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a> --> 
            </li>

            <!-- divider commented out since above line was commented out -->
            <!-- <li class="divider"></li> -->

            {% for coll in site.collections-order %}
                {% assign collection = site.collections | where: 'label', coll | first %}
                {% unless collection.label == "posts" %}
                    <p class="toc-heading"><strong>{{ collection.label | replace: "_", " " | upcase }}</strong></p>
                {% endunless %}
                {% if collection.output %}



                    {% if collection.label == "assignments" or collection.label == "units" %}
                        {% assign reversed_posts = site[collection.label] | sort: 'unit' %}
                    {% elsif collection.label == "course" %}
                        {% assign reversed_posts = site[collection.label] | sort: 'ordering' %}
                    {% else %}
                        {% assign reversed_posts = site[collection.label] %}
                    {% endif %}
                    

                    {% for post in reversed_posts %}
                        {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            {% assign curr_date = 'now' | date: "%Y-%m-%d %H:%M:%S" %}
                            <!-- if no post.date then post.date is now -->
                            {% assign post_date = post.date | date: "%Y-%m-%d %H:%M:%S" %}
                            {% if curr_date >= post_date %} 
                                <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                    {{ post.title | escape }}
                                </a>
                            {% endif %}
                            {% if site.toc.enabled %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
